
  <div class="cart-head">
    <p class="restaurant-name">All About Soups</p>
    <p class="restaurant-address">1234 Soup Dr. Toronto, ON M6W9R7</p>
  </div>
  <div class="cart-body">
    <!-- if cart empty -->
    <p class="empty-cart">Your cart is currently empty. Please add items.</p>
    <!-- if items are added -->
    <!-- <p class="cart-title">Your Cart</p> -->
    <ul class="cart-item-container">
      <li> <span class="cart-item-quantity">2</span>
        <span class="cart-item">Tomato Soup</span>
        <span class="cart-item-price">$11</span>
      </li>
    </ul>
  </div>

  <div class="cart-footer">
    <div class="cart-total">
      <p>Subtotal</p>
      <p>Tax</p>
      <p>Total</p>
    </div>
    <form action="/messages/new/:order_id" method="POST">
      <button type="submit" class="checkout">Checkout</button>
    </form>
  </div>
