<nav>
  <div>
    <img class="logo-icon" src="images/food-icon.png">
    <span class="logo">Foodio</span>
  </div>
  <div class="nav-right">
    <span class="user">LOGGED IN EMAIL PLACEHOLDER</span>
    <input type="text" placeholder="Search..">
  </div>
</nav>