<section class="menu-items">
  <div>
    <img class="menu-photo" src="images/soup.png" alt="Picture of food">
  </div>
  <div class="menu-contents">
    <h1 class="menu-name">Tomato Soup</h1>
    <div class="menu-description">Soup with a lot of good veggies and stuff</div>
    <dish class="menu-price">$11</dish>
    <div class="add-to-cart">
      <button>Add to cart</button>
    </div>
</section>