


        <div class="message-head"></div>
        <div class="message-body"></div>
        <span>Thank you!</span>
        <span class="order-id">Your Order id is...INSERT HERE</span>
        <span class="time">Ready in...</span>
        <div class="message-footer"></div>
