
  
        <div class="message-head"></div>
        <div class="message-body"></div>
        <% if (!orderActive) { %>
              <span class="order-id">You don't have open orders</span>
        <% } else { %>

        <% for (let item in orderActive) { %> 


        <p><span class="order-id">Your Order Number <%= orderActive[item].id %> is active.</span></p>

        <% } %>
        <p><span class="time">Ready in...</span></p>
        <p><span>Thank you!</span></p>
        <div class="message-footer"></div>

        <% } %>

