 <!-- Cart on right -->
 <div class="right-container">
   <section class="cart-container">
     <div class="cart-head">
       <p class="restaurant-name">All About Soups</p>
       <p class="restaurant-address">1234 Soup Dr. Toronto, ON M6W9R7</p>
     </div>
     <div class="cart-body">
       <!-- if cart empty -->
       <p class="empty-cart">Your cart is currently empty. Please add items.</p>
       <!-- if items are added -->
       <!-- <p class="cart-title">Your Cart</p> -->
       <ul class="cart-item-container">
         <li> <span class="cart-item-quantity">2</span>
           <span class="cart-item">Tomato Soup</span>
           <span class="cart-item-price">$11</span>
         </li>
         <li> <span class="cart-item-quantity">1</span>
           <span class="cart-item">French Onion Soup</span>
           <span class="cart-item-price">$11</span>
         </li>
         <div class="cart-footer">
           <div class="cart-total">
             <p>Subtotal</p>
             <p>Tax</p>
             <p>Total</p>
           </div>
           <button class="checkout">Checkout</button>
         </div>
   </section>

   <!-- Messages on right -->
   <section class="message-container">
     <div class="message-head"></div>
     <div class="message-body"></div>
     <span>Thank you!</span>
     <span class="order-id">Your Order id is...INSERT HERE</span>
     <span class="time">Ready in...</span>
     <div class="message-footer"></div>
   </section>
 </div>
