<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Foodio - Order Takeout!</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!-- External CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    type="text/css" />
  <!-- App CSS -->
  <link rel="stylesheet" href="../styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="../styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="../styles/menu-items.css" type="text/css" />
  <link rel="stylesheet" href="../styles/cart.css" type="text/css" />
  <link rel="stylesheet" href="../styles/main.css" type="text/css" />

  <!-- Amatic -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">
</head>

<body>
  <!-- Top nav bar (fixed) -->
  <nav>
    <div>
      <img class="logo-icon" src="images/food-icon.png">
      <span class="logo">Foodio</span>
      <span>For foodies on the go</span>
    </div>
    <div class="nav-right">
      <span class="user">LOGGED IN EMAIL PLACEHOLDER</span>
      <input type="text" placeholder="Search..">
    </div>
  </nav>

  <!-- Menu Left -->
  <div class="main-container">
    <main class="menu-container">
      <section class="menu-items">
        <div>
          <img class="menu-photo" src="images/soup.png" alt="Picture of food">
        </div>
        <div class="menu-contents">
          <h1 class="menu-name">Tomato Soup</h1>
          <div class="menu-description">Soup with a lot of good veggies and stuff</div>
          <dish class="menu-price">$11</dish>
          <div class="add-to-cart">
            <button>Add to cart</button>
          </div>
      </section>
      <section class="menu-items">
        <div>
          <img class="menu-photo" src="images/soup.png" alt="Picture of food">
        </div>
        <div class="menu-contents">
          <h1 class="menu-name">Dish Name</h1>
          <div class="menu-description">Soup with a lot of good veggies and stuff</div>
          <dish class="menu-price">$Price</dish>
          <div class="add-to-cart">
            <button>Add to cart</button>
          </div>
      </section>
      <section class="menu-items">
        <div>
          <img class="menu-photo" src="images/soup.png" alt="Picture of food">
        </div>
        <div class="menu-contents">
          <h1 class="menu-name">Dish Name</h1>
          <div class="menu-description">Soup with a lot of good veggies and stuff</div>
          <dish class="menu-price">$Price</dish>
          <div class="add-to-cart">
            <button>Add to cart</button>
          </div>
      </section>
      <section class="menu-items">
        <div>
          <img class="menu-photo" src="images/soup.png" alt="Picture of food">
        </div>
        <div class="menu-contents">
          <h1 class="menu-name">Dish Name</h1>
          <div class="menu-description">Soup with a lot of good veggies and stuff</div>
          <dish class="menu-price">$Price</dish>
          <div class="add-to-cart">
            <button>Add to cart</button>
          </div>
      </section>
      <section class="menu-items">
        <div>
          <img class="menu-photo" src="images/soup.png" alt="Picture of food">
        </div>
        <div class="menu-contents">
          <h1 class="menu-name">Dish Name</h1>
          <div class="menu-description">Soup with a lot of good veggies and stuff</div>
          <dish class="menu-price">$Price</dish>
          <div class="add-to-cart">
            <button>Add to cart</button>
          </div>
      </section>
    </main>
    <!-- Cart on right -->
    <div class="right-container">
      <section class="cart-container">
        <div class="cart-head">
          <p class="restaurant-name">All About Soups</p>
          <p class="restaurant-address">1234 Soup Dr. Toronto, ON M6W9R7</p>
        </div>
        <div class="cart-body">
          <!-- if cart empty -->
          <p class="empty-cart">Your cart is currently empty. Please add items.</p>
          <!-- if items are added -->
          <!-- <p class="cart-title">Your Cart</p> -->
          <ul class="cart-item-container">
            <li> <span class="cart-item-quantity">2</span>
              <span class="cart-item">Tomato Soup</span>
              <span class="cart-item-price">$11</span>
            </li>
            <li> <span class="cart-item-quantity">1</span>
              <span class="cart-item">French Onion Soup</span>
              <span class="cart-item-price">$11</span>
            </li>
            <li> <span class="cart-item-quantity">1</span>
              <span class="cart-item">French Onion Soup</span>
              <span class="cart-item-price">$11</span>
            </li>
            <li> <span class="cart-item-quantity">1</span>
              <span class="cart-item">French Onion Soup</span>
              <span class="cart-item-price">$11</span>
            </li>
            <li> <span class="cart-item-quantity">1</span>
              <span class="cart-item">French Onion Soup</span>
              <span class="cart-item-price">$11</span>
            </li>
            <li> <span class="cart-item-quantity">1</span>
              <span class="cart-item">French Onion Soup</span>
              <span class="cart-item-price">$11</span>
            </li>
            <li> <span class="cart-item-quantity">1</span>
              <span class="cart-item">French Onion Soup</span>
              <span class="cart-item-price">$11</span>
            </li>
            <li> <span class="cart-item-quantity">1</span>
              <span class="cart-item">French Onion Soup</span>
              <span class="cart-item-price">$11</span>
            </li>
            <li> <span class="cart-item-quantity">1</span>
              <span class="cart-item">French Onion Soup</span>
              <span class="cart-item-price">$11</span>
            </li>
            <li> <span class="cart-item-quantity">1</span>
              <span class="cart-item">French Onion Soup</span>
              <span class="cart-item-price">$11</span>
            </li>
            <li> <span class="cart-item-quantity">1</span>
              <span class="cart-item">French Onion Soup</span>
              <span class="cart-item-price">$11</span>
            </li>
            <li> <span class="cart-item-quantity">1</span>
              <span class="cart-item">French Onion Soup</span>
              <span class="cart-item-price">$11</span>
            </li>
            <li> <span class="cart-item-quantity">1</span>
              <span class="cart-item">French Onion Soup</span>
              <span class="cart-item-price">$11</span>
            </li>
            <li> <span class="cart-item-quantity">1</span>
              <span class="cart-item">French Onion Soup</span>
              <span class="cart-item-price">$11</span>
            </li>
          </ul>
        </div>

        <div class="cart-footer">
          <div class="cart-total">
            <p>Subtotal</p>
            <p>Tax</p>
            <p>Total</p>
          </div>
          <button class="checkout">Checkout</button>
          </div>
          </section>
      </section>

      <!-- Messages on right -->
      <section class="message-container">
        <div class="message-head"></div>
        <div class="message-body"></div>
        <span>Thank you!</span>
        <span class="order-id">Your Order id is...INSERT HERE</span>
        <span class="time">Ready in...</span>
        <div class="message-footer"></div>
      </section>
    </div>
  </div>

  
</body>
</html>
