body {
  background-color: #EEE;
  /* font-family: 'Amatic SC', cursive; */
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2em;
}

.main-container {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  padding: 6% 0% 2% 2%;
}

