.menu-container {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  width: 46%;
  height: 45em;
  overflow: auto;
}

.menu-items {
  border: black solid 2px;
  margin: 2em 2em 0em 2em;
  height: 12em;
  display: flex;
  background: rgb(246, 246, 170);
}

.menu-contents {
display: flex;
flex-direction: column;
margin-left: 3em;
}

.menu-photo {
  height: 12em;
  width: 16em;
  overflow: hidden;
  padding: 2em 0em 2em 2em;
}

.menu-price {
  padding: .2em 0em 1em 0em;
}

.add-to-cart {
  margin-bottom: 1em;
}

h1.menu-name {
  margin: 1em 0em .2em 0em;
}
