nav {
  height: 6em;
  background-color: #50e6da;
  display: flex;
  align-items: baseline;
  position: fixed;
  width: 100%;
  justify-content: space-between;
}

nav input {
  background: transparent;
  opacity: .7;
}

.logo-icon {
  width: m5e;
  height: auto;
  display: inline;
  padding-left: 4em;
  padding-top: 2em;

}

.logo {
font-family: 'Amatic SC', cursive;
  font-size: 4em;
  padding: .25em .25em 0em .25em;
}

nav .user {
  font-size: 1em;
}

nav input {
  padding-left: 3em;
}

.nav-right {
  margin-right:5%;
}
